<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= bridesmaids_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Becky Baek</h1>
		
		<div class="card">
			<%= image_tag('becky_2.jpg', :class => '') %>
		</div>

		<div class="center">
			<p class="bio">“Seldom have I seen a butterfly do evil. Such was my first thought the moment I met Becky Baek, for she was doing incredible evil. And yet she was a butterfly.” 
		Becky and Meghan met in San Francisco in 2003 under dubious circumstances and bonded over In-N-Out Burger Fries. Becky is currently about to crush the New York State Bar exam. She already holds exalted degrees in American Studies and Theology, granting her an immense capacity to control humanity. She is the Queen Mother to one Shitzu, named Duncan, and soon, she’ll be Queen to us all.<br>We’re excited.</p>
		</div>
		
	</div>
</div>