<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= bridesmaids_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Ben Silberman</h1>
		<h4 class="center">Best Man</h4>
		
		<div class="card">
			<%= image_tag('ben.jpg', :class => '') %>
		</div>

		<div class="center">
			<p class="bio">Ben first met Chichi, the famous singing dog, on Broadway where they bonded over their love for musicals. Ben enjoys funny television programs late at night and hates grocery shopping. At age thirty-three he became a member of the club “Gay for Stanley (Tools).” He currently runs the New Britain Repertory Theater single-handedly and is practicing his smile. We think it's already stunning.</p>
		</div>
		
	</div>
</div>