<header class="bar bar-nav">
	<a class="btn btn-outlined pull-left" href="<%= bridesmaids_path %>" data-transition="slide-out">
		Back
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Breanne Evans</h1> 
		
		<div class="card">
			<%= image_tag('breanne.jpeg', :class => '') %>
		</div>

		<div class="center">
			<p class="bio">Breanne is tall and lives in New York City. She is currently fulfilling her lifelong dream of having her own minion to do her bidding. She loves tiny objects like small cups and mini owls, and will eat potatoes prepared any way. Most legends about witty beauties are in reference to Breanne, specifically Shakespeare’s 14th sonnet and Sappho’s ‘A Goddess of the Earth.’  She taught us one of the most important lessons of our lives, “Don’t make someone else’s yum yums yuck yucks.”<br>
		She’s so so wise. </p>
		</div>
		
	</div>
</div>