<header class="bar bar-nav">
	<a class="pull-left" href="<%= wedding_party_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Bridesmaids</h1>
		
		<div class="card">
			<ul class="table-view">
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= kelly_path %>" data-transition="slide-in">
			      <strong>Kelly Evans</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= breanne_path %>" data-transition="slide-in">
			      <strong>Breanne Evans</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= becky_path %>" data-transition="slide-in">
			      <strong>Beck Baek</strong>
			    </a>
			  </li>
			</ul>
		</div>
		
	</div>
</div>