<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= bridesmaids_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Dylan Kovachev</h1>
		<h4 class="center">Friend of The Groom</h4>
		
		<div class="card">
			<%= image_tag('dilyan_2.jpg', :class => '') %>
		</div>

		<div class="center">
			<p class="bio">“You can’t throw up what you didn’t eat~ Bulgarian Proverb.” Dilyan graduated from Trinity College with a GPA of 4.15, and was the Valedictorian. It was so easy. That sick brilliance allows him to see the matrix of life while some of us can’t even make a decent meringue. Most importantly, he has an enviable accent and he writes all his own jokes. He also has amazing one-liners. Our new favorite: “I’m so excited! I was milk and now I’m froth!”</p>
		</div>
		
	</div>
</div>