<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= groomsmen_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Groomsmen</h1>
		
		<div class="card">
			<ul class="table-view">
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= ben_path %>" data-transition="slide-in">
			      <strong>Ben Silberman</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= dilyan_path %>" data-transition="slide-in">
			      <strong>Dilyan Kovachev</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= ryan_path %>" data-transition="slide-in">
			      <strong>Ryan Barber</strong>
			    </a>
			  </li>
			</ul>
		</div>
		
	</div>
</div>