<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= home_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
	<a class="pull-right btn btn-outlined" href="<%= new_message_path %>" data-transition="slide-in">
		Sign
	</a>
</header>

<div class="content">
	<div class="content-padded">
		
		<h1 class="center">Guest Book</h1>
	
	</div>
</div>