<header class="bar bar-nav">
	<a class="pull-left" href="<%= root_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Guest Book</h1>
	
	</div>
</div>