<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= home_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
	<a href="#new-message-modal" class="pull-right btn btn-outlined">
		Sign
	</a>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Guest Book</h1>
	
	</div>
</div>

<div id="new-message-modal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#new-message-modal"></a>
    <h1 class="title">New Message</h1>
  </header>

  <div class="content">
    <p class="content-padded">
	    <%= render "messages/form" %>
    </p>
  </div>
</div>