<ul class="list inset">
	<li>
		<a href="<%= wedding_party_path %>">
		  <strong>Meghan and Dan</strong>
		  <span class="chevron"></span>
		</a>
	</li>
	<li>
		<a href="<%= wedding_party_path %>" data-transition="fade">
		  <strong>Wedding Party</strong>
		  <span class="chevron"></span>
		</a>
	</li>
	<li>
		<a href="<%= wedding_party_path %>">
		  <strong>Venue</strong>
		  <span class="chevron"></span>
		</a>
	</li>
</ul>
