<header class="bar bar-nav">
	<a class="pull-left" href="<%= bridesmaids_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
		Back
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Kelly Evans</h1>
		<h4 class="center">Maid of Honor</h4>
		
		<div class="card">
			<%= image_tag('kelly.jpg', :class => '') %>
		</div>

		<div class="center">
			<p class="bio">Kelly is one of the few human beings who may or may not contain food molecules. She has degrees in Japanese and Russian language and is currently earning her masters in Linguistics. Without the need of a degree Kelly is a master Lego builder and the artist who brought you The Wedding Invitation. The (other) Bulgarian proverb, “Where you’re going to, I’m coming from,” describes her perfectly, not only because she’s so intelligent, but because she walks SO fast.<br>We’re in awe.</p>
		</div>
		
	</div>
</div>