<header class="bar bar-nav">
	<a class="pull-left" href="<%= root_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Meghan and Dan</h1>
		
		<div class="card">
			<%= image_tag('md.jpg', :class => 'media-object', :style => 'width:100%;') %>
		</div>

		<div class="">
		<h3>Dan and Meghan can’t make a decent meringue, but they can make some crazy delicious sandwiches. They met at Steve’s Place, the local grinder shop, in 2005. They worked many shifts together, throwing pickle juice and crusty meat ends at each other and falling in love. When the boss found out about this love, they never worked a shift together again.  Now, almost ten years later, they still make each other sandwiches, and can’t wait to make each other their Horcruxes.</h3></div>
		
	</div>
</div>