<header class="bar-title">
  <a href="<%= root_path %>" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Meghan and Dan</h1>
</header>

<p>Dan and Meghan can’t make a decent meringue, but they can make some crazy delicious sandwiches. They met at Steve’s Place, the local grinder shop, in 2005. They worked many shifts together, throwing pickle juice and crusty meat ends at each other and falling in love. When the boss found out about this love, they never worked a shift together again.  Now, almost ten years later, they still make each other sandwiches, and can’t wait to make each other their Horcruxes.</p>