<header class="bar bar-nav">
	<a class="pull-left" href="<%= wedding_party_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Emily Guarino</h1>
		<h4 class="center">Officiant</h4>
		
		<div class="card">
			<%= image_tag('emily.jpg') %>
		</div>

		<div class="center">
		<p class="bio">Emily and Meghan met in high school, either in Biology or waiting for the bus to Academy. Either way, they exchanged over a million hilarious notes to pass the time. 
Emily has an infectious laugh. She is an accomplished cellist, much better than Yo-Yo Ma, a music teacher, and a vegan mother of twins. There is literally nothing to dislike about her. 
Unless it's her perfection, if you're the jealous type. We're the admiring type.</h4></p>
		
	</div>
</div>