<header class="bar bar-nav">
	<a class="pull-left btn btn-outlined" href="<%= bridesmaids_path %>" data-transition="slide-out">
		Back 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Ryan Barber</h1>
		<h4 class="center">Friend of The Groom</h4>
		
		<div class="card">
			<%= image_tag('ryan.JPG', :class => '') %>
		</div>

		<div class="center">
			<p class="bio">Ryan is an avid kite flyer and will be bringing all 603 of his kites to the wedding. He’s also a rad photographer. That song, Titanium, was written about Ryan. Some of his bones are literally titanium. He’s so hardcore. He lived in the cupboard under the stairs at Dan’s house when the two were young. Contrary to the story made popular by one Harry Potter, Ryan is not a wizard. He became a librarian and lives in Kentucky.</p>
		</div>
		
	</div>
</div>