<header class="bar bar-nav">
	<a class="pull-left" href="<%= home_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Rocky Neck State Park</h1>
		<h2 class="center">Niantic, CT</h2>
		<h3 class="center">244 West Main St.</h3>
	</div>
</div>