.bar-nav {
	background-color: #abc7b9 !important;
	background-image: none !important;
	border-bottom: 1px solid #ddd !important;
}
.center {
	text-align: center;
}

header {
	a {
		span.icon {
			color: #fff;
		}
	}
}
.content {
	padding-bottom: 50px;
}