.bar-nav {
	background-color: #abc7b9 !important;
	background-image: none !important;
	border-bottom: 1px solid #ddd !important;
	color: #fff !important;
	h1 {
		color: #fff;
		font-weight: bold;
	}
	a {
		color: #fff;
		
		span.icon {
			color: #fff;
		}
		
	}
	.nav-label {
		padding-top: 2px;
	}
}
.center {
	text-align: center;
}

.content {
	padding-bottom: 50px;
}
.card {
	img {
		width: 100%;
		margin-bottom: -5px !important;
	}
}
p.bio {
	margin-top: 10px;
}
nav.bar-tab{
	span.icon {
		color: #abc7b9;
	}
	span.tab-label {
		color: #abc7b9;
	}
}
.entrance {
	background-color: #abc7b9 !important;
	width: 100%;
	height: 100%;
	h1 {
		color: #fff;
		font-size: 60px;
		margin-top: 50px;
	}
	img {
		width: 100%;
	}
}